*{
    margin: 0;
    padding: 0;
    text-align: center;
}
    h1{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}
.choice{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
   cursor: pointer;
    background-color: black;
    opacity: 80%;
 
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

}
.choices{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    margin-top: 90px;
    padding: 2px;
    font-size: 25px;
}



#user-score,
#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 40px;
}
#msg{
    background-color: burlywood;
    font-size: 20px;
   display: inline;
   padding: 1rem;
   border-radius:1rem ;
}
#msg:hover{
    opacity: 60%;
    cursor: pointer;

}